<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/flight.css">
</head>
<header>
    <%- include("./partials/nav.ejs") %>
  </header>
<body>
    <div>
        <h2 class="cairo">FLIGHTS</h2>
        <h2 class="c">high above the sky</h2>

        <img class="d-block w-100" src="/images/flight.jpg" alt="Hotel 2">


    </div>
    <br>
    <form action="/flight/search" method="post">
        <input type="text" name="searchQuery" placeholder="Search flights">
        <button type="submit">Search</button>
      </form>
      <% if (flights.length > 0) { %>
        <% for (let i = 0; i < flights.length; i++) { %>
          <!-- Display flight information -->
          <div class="flight-box">
            <h3><%= flights[i].boarding %> - Flight <%= flights[i].flightnumber %></h3>
            <p>Duration: <%= flights[i].duration %> hours</p>
            <p>Price: <%= flights[i].price %> EGP</p>
            <p>Tickets Available: <%= flights[i].ticketsavailable %></p>
            <img src="<%= flights[i].image %>" alt="Flight Image">
            <a href="/flight/book/<%= flights[i]._id %>">Book Now</a>
          </div>
        <% } %>
      <% } else { %>
        <!-- Display "Flight not found" message -->
        <p>No flights found for "<%= searchQuery %>".</p>
      <% } %>

    
      <section id="deals">
        <h2>Great deals from Egypt</h2>
        <p>We’ve searched 100s of deals recently found by travelers.</p>
        <div class="row">
            <div class="deal">
                <h3>Cairo, Egypt (CAI) - Hurghada, Egypt (HRG)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 1,500</p>
            </div>
            <div class="deal">
                <h3>Cairo, Egypt (CAI) - Alexandria, Egypt (ALY)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 1,700</p>
            </div>
        </div>
        <div class="row">
            <div class="deal">
                <h3>Cairo, Egypt (CAI) - Sharm El-Sheikh, Egypt (SSH)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 2,000</p>
            </div>
            <div class="deal">
                <h3>Cairo, Egypt (CAI) - Luxor, Egypt (LXR)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 2,200</p>
            </div>
        </div>
        <div class="row">
            <div class="deal">
                <h3>Sharm El-Sheikh, Egypt (SSH) - Hurghada, Egypt (HRG)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 2,500</p>
            </div>
            <div class="deal">
                <h3>Alexandria, Egypt (ALY) - Sharm El-Sheikh, Egypt (SSH)</h3>
                <p>Thu, 4/6 - Thu, 4/13</p>
                <p>EgyptAir - Roundtrip, Economy</p>
                <p>EGP 2,800</p>
            </div>
        </div>
    </section>

</body>
<footer>
    <p><i class="fa fa-plane" aria-hidden="true"></i> &copy; 2023 GoEgy. All Rights Reserved.</p>
</footer>

</html>