<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoEgy Tours</title>
  <link rel="stylesheet" href="../public/js/F.js">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<header>
  <%- include("./partials/nav.ejs") %>
</header>
<header>
  <h1 style="font-size:50px;">Hotels</h1>
  <form class="search-form" action="/hotel/get/search" method="post">
    <input class="search-form input" type="text" placeholder="Search.." name="name">
    <button class="search-form button" type="submit" name="name">Search</button>
  </form>
</header>




<body>
  <section class="highly-rated-hotels">
    <h2>Highly Rated Hotels</h2>
    <div class="hotel-list">
      <div class="hotel">
        <img style="height: 250px;" src="/images/llll.jpeg">
        <h3>Marriot</h3>
      </div>
      <section class="rating">


      </section>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/h8.jfif"></a>
        <h3>Pick Albtros LongBeach</h3>

      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/h2.jfif"></a>
        <h3>Titanic</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/ke.jpg"></a>
        <h3>Kempenski</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/rooftop-pool-during-sunset.jpg"></a>
        <h3>Panorama bungalows El-Gouna</h3>

      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/IBERTOTEL.jpg"></a>
        <h3>Sindbad Club</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/steigenberger-nile-palace.jpg"></a>
        <h3>Palm Beach</h3>


      </div>
      <div class="hotel">
        <a href="#"><img style="height: 250px;" src="/images/royal-savoy-hotel-and.jpg"></a>
        <h3>Selens Bay</h3>

      </div>

    </div>
  </section>
  <br>
  <h3> Hot <span style="color: reD;"> Deals </span><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22"
      fill="currentColor" class="bi bi-fire" viewBox="0 0 16 16">
      <path
        d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
    </svg> </h3>
  <br><br>
  <section class="hotel-deals">

    <% if (hotels.length===0) { %>
      <h1>No results found.</h1>
      <% } else { %>
        <div id="hotel-list" class="hotel-row">
          <% for (let i=0; i < hotels.length; i++) { %>
            <div class="hotel">
              <h3>
                <%= hotels[i].name %>
              </h3>
              <a href="#"><img src="<%= hotels[i].image1 %>" alt=""></a>
              <div class="hotel-details">
                <p>Details:</p>
                <p>
                  <%= hotels[i].description %>
                </p>
                <p>This offer for double bedroom Per Night</p>
              </div>
              <div class="hotel-price">
                <p><span class="hotel-price">EGP <%= hotels[i].price %></span></p>
              </div>
              <div class="hotel-buttons">
                <a href="/hotel/get/<%= hotels[i].id %>">
                  <button class="view-hotel">View Deal</button>
                </a>
                <button class="wishlist-button add-to-wishlist" data-type="hotel" data-id="<%= hotels._id %>">Add to
                  Wishlist</button>
              </div>
            </div>
            <% if ((i + 1) % 3===0 && i !==hotels.length - 1) { %>
        </div>
        <div class="hotel-row">
          <% } %>
            <% } %>
        </div>

        <% } %>


  </section>


</body>
<footer style="text-align: center;">
  <p><i class="fas fa-building"></i> &copy; 2023 GoEgy. All Rights Reserved.</p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  document.querySelectorAll(".add-to-wishlist").forEach((btn) => {
    btn.addEventListener("click", async (e) => {
      const type = e.target.dataset.type;
      const itemId = e.target.dataset.id;

      try {
        const response = await fetch("/wishlist/add", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ type, itemId }),
        });

        if (response.ok) {
          alert("Added to wishlist!");
        } else {
          alert("Error adding to wishlist.");
        }
      } catch (error) {
        console.error("Error:", error);
        alert("Error adding to wishlist.");
      }
    });
  });
</script>

</html>