<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/tourdetails.css"> <!-- Add a link to your custom CSS file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Hotel Page</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <%- include("./partials/nav.ejs") %>
    </nav>

    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="slideshow" class="carousel slide" data-ride="carousel" data-interval="3000">
                  
                            <ol class="carousel-indicators">
                                <li data-target="#slideshow" data-slide-to="0" class="active"></li>
                                <li data-target="#slideshow" data-slide-to="1"></li>
                                <li data-target="#slideshow" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="<%=objtour.img1%> "alt="Hotel 1">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="<%=objtour.img2%> " alt="Hotel 2">
                                </div>
                                <div class="carousel-item">
                                    <img class="d-block w-100" src="<%=objtour.img3%> " alt="Hotel 3">
                                </div>
                            </div>
                       
                        
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-md-6">
                <div class="main_text">
                    <h1> <%=objtour.name %> <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                            <!-- SVG icon code -->
                        </svg></h1>
                    <p> <%=objtour.description %> </p>
                    
                    <p>Price:<%=objtour.price%>per adult </p>
                    <h5>Duration:<%=objtour.duration %> hours</h5>
                    <h5>Date:<%=objtour.date.toISOString()%></h5>
                    <form action="/cairotours/get/<%=objtour.id %>/available" method="post">
                        <input type="text" id="fname" placeholder="Number OF Tickets"><br><br>
                        <input type="submit" value="BOOK TOUR">
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
